{
    "bitburner.authToken": "[[AUTHTOKEN]]",
    "bitburner.fileWatcher.enable": true,
    "bitburner.scriptRoot": "./out",
    "bitburner.showPushSuccessNotification": true,
    "typescript.tsdk": "node_modules/typescript/lib",
    "editor.detectIndentation": false
}